In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import census_key
c = Census(census_key, year=2018)

In [53]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels

#https://api.census.gov/data/2018/acs/acs5/subject?get=NAME,S0101_C01_001E&for=county:*&key=YOUR_KEY_GOES_HERE
mo_census_data = c.acs5.get(("NAME", "B01003_001E", "B19301_001E"), {'for': 'county:*','in':'state:29'})
mo_census_pd = pd.DataFrame(mo_census_data)

# Column Reordering
mo_census_pd = mo_census_pd.rename(columns={"B01003_001E": "Total Population",
                                      "B19301_001E": "Per Capita Income",        
                                      "NAME": "County, State"}).drop(columns=["state", "county"])




# Final DataFrame
#census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       #"Per Capita Income", "Poverty Count", "Poverty Rate"]]

# Visualize
print(len(mo_census_pd))
mo_census_pd.head()
mo_census_top = mo_census_pd.nlargest(10,["Total Population"])
mo_census_top['County, State'].str.split(pat=',',expand=True)
mo_census_top=mo_census_top.merge(mo_census_top['County, State'].str.split(pat=',',expand=True),how="outer", left_index=True, right_index=True) 
mo_census_top = mo_census_top.rename(columns={0: "County",
                                      1: "State"}).drop(columns=["County, State"])
mo_census_top

115

     Total Population  Per Capita Income              County      State
49           998684.0            39784.0    St. Louis County   Missouri
65           692003.0            30237.0      Jackson County   Missouri
86           389985.0            37229.0  St. Charles County   Missouri
91           311273.0            28478.0      St. Louis city   Missouri
36           288429.0            26378.0       Greene County   Missouri
88           239164.0            33342.0         Clay County   Missouri
43           223302.0            28844.0    Jefferson County   Missouri
52           176515.0            29365.0        Boone County   Missouri
101          119238.0            24086.0       Jasper County   Missouri
63           102781.0            28773.0     Franklin County   Missouri

In [52]:
il_census_data = c.acs5.get(("NAME", "B01003_001E", "B19301_001E"), {'for': 'county:*','in':'state:17'})
il_census_pd = pd.DataFrame(il_census_data)
il_census_pd = il_census_pd.rename(columns={"B01003_001E": "Total Population",
                                      "B19301_001E": "Per Capita Income",        
                                      "NAME": "County, State"}).drop(columns=["state", "county"])
print(len(il_census_pd))
il_census_pd.head()
il_census_top = il_census_pd.nlargest(10,["Total Population"])
il_census_top['County, State'].str.split(pat=',',expand=True)
il_census_top=il_census_top.merge(il_census_top['County, State'].str.split(pat=',',expand=True),how="outer", left_index=True, right_index=True) 
il_census_top = il_census_top.rename(columns={0: "County",
                                      1: "State"}).drop(columns=["County, State"])
il_census_top

102

    Total Population  Per Capita Income            County      State
38         5223719.0            35575.0       Cook County   Illinois
34          931743.0            43982.0     DuPage County   Illinois
26          703619.0            44287.0       Lake County   Illinois
18          688697.0            35259.0       Will County   Illinois
54          530839.0            34924.0       Kane County   Illinois
44          307789.0            38047.0    McHenry County   Illinois
66          286174.0            28250.0  Winnebago County   Illinois
86          265670.0            30802.0    Madison County   Illinois
49          263463.0            29541.0  St. Clair County   Illinois
97          209448.0            29683.0  Champaign County   Illinois

In [51]:
id_census_data = c.acs5.get(("NAME", "B01003_001E", "B19301_001E"), {'for': 'county:*','in':'state:18'})
id_census_pd = pd.DataFrame(id_census_data)
id_census_pd = id_census_pd.rename(columns={"B01003_001E": "Total Population",
                                      "B19301_001E": "Per Capita Income",        
                                      "NAME": "County, State"}).drop(columns=["state", "county"])
print(len(id_census_pd))
id_census_pd.head()
id_census_top = id_census_pd.nlargest(10,["Total Population"])
id_census_top['County, State'].str.split(pat=',',expand=True)
id_census_top=id_census_top.merge(id_census_top['County, State'].str.split(pat=',',expand=True),how="outer", left_index=True, right_index=True) 
id_census_top = id_census_top.rename(columns={0: "County",
                                      1: "State"}).drop(columns=["County, State"])
id_census_top

92

    Total Population  Per Capita Income              County     State
5           944523.0            27251.0       Marion County   Indiana
61          486849.0            27660.0         Lake County   Indiana
27          370016.0            28239.0        Allen County   Indiana
54          316095.0            46597.0     Hamilton County   Indiana
85          269240.0            27338.0   St. Joseph County   Indiana
2           203604.0            25075.0      Elkhart County   Indiana
51          189294.0            26262.0   Tippecanoe County   Indiana
37          181313.0            28320.0  Vanderburgh County   Indiana
45          168041.0            32943.0       Porter County   Indiana
7           160940.0            34689.0    Hendricks County   Indiana

In [50]:
mi_census_data = c.acs5.get(("NAME", "B01003_001E", "B19301_001E"), {'for': 'county:*','in':'state:26'})
mi_census_pd = pd.DataFrame(mi_census_data)
mi_census_pd = mi_census_pd.rename(columns={"B01003_001E": "Total Population",
                                      "B19301_001E": "Per Capita Income",        
                                      "NAME": "County, State"}).drop(columns=["state", "county"])
print(len(mi_census_pd))
mi_census_pd.head()
mi_census_top = mi_census_pd.nlargest(10,["Total Population"])
mi_census_top['County, State'].str.split(pat=',',expand=True)
mi_census_top=mi_census_top.merge(mi_census_top['County, State'].str.split(pat=',',expand=True),how="outer", left_index=True, right_index=True) 
mi_census_top = mi_census_top.rename(columns={0: "County",
                                      1: "State"}).drop(columns=["County, State"])
mi_census_top

83

    Total Population  Per Capita Income            County      State
30         1761382.0            25976.0      Wayne County   Michigan
61         1250843.0            42760.0    Oakland County   Michigan
50          868704.0            31104.0     Macomb County   Michigan
49          643140.0            31005.0       Kent County   Michigan
79          409361.0            26386.0    Genesee County   Michigan
25          365961.0            39486.0  Washtenaw County   Michigan
68          289564.0            28366.0     Ingham County   Michigan
9           284034.0            30558.0     Ottawa County   Michigan
40          261573.0            30555.0  Kalamazoo County   Michigan
52          192778.0            26625.0    Saginaw County   Michigan

In [49]:
oh_census_data = c.acs5.get(("NAME", "B01003_001E", "B19301_001E"), {'for': 'county:*','in':'state:39'})
oh_census_pd = pd.DataFrame(oh_census_data)
oh_census_pd = oh_census_pd.rename(columns={"B01003_001E": "Total Population",
                                      "B19301_001E": "Per Capita Income",        
                                      "NAME": "County, State"}).drop(columns=["state", "county"])
print(len(oh_census_pd))
oh_census_pd.head()
oh_census_top = oh_census_pd.nlargest(10,["Total Population"])
oh_census_top['County, State'].str.split(pat=',',expand=True)
oh_census_top=oh_census_top.merge(oh_census_top['County, State'].str.split(pat=',',expand=True),how="outer", left_index=True, right_index=True) 
oh_census_top = oh_census_top.rename(columns={0: "County",
                                      1: "State"}).drop(columns=["County, State"])
oh_census_top

88

    Total Population  Per Capita Income             County  State
9          1275333.0            32552.0    Franklin County   Ohio
56         1253783.0            31804.0    Cuyahoga County   Ohio
76          812037.0            34125.0    Hamilton County   Ohio
29          541810.0            32055.0      Summit County   Ohio
59          532034.0            28807.0  Montgomery County   Ohio
42          432379.0            28361.0       Lucas County   Ohio
14          378294.0            30777.0      Butler County   Ohio
47          373475.0            28434.0       Stark County   Ohio
57          306713.0            29777.0      Lorain County   Ohio
72          231064.0            27429.0    Mahoning County   Ohio